*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body{
    margin: 20% 40px;
}

section.photos{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 200px;
    }
}

section.text{
    p::first-line{
        padding-left: 20px;
    }
}