*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

section.photos{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 100%;
        flex: .3;
    }
}